config_version = "2.0"

[info]
name = "Events app"
description = "This app demonstrates how to upload events to RobotHub"

[runtime]
application = "app.py#Application"
workdir = "/app"

[runtime.runs_on]
type = "image"
name = "ghcr.io/luxonis/robothub-app-v2:2023.326.2033-rvc2-regular"

[[configuration]]
visual = "section"
title = "Upload intervals"

[[configuration]]
key = "image_event_upload_interval_minutes"
label = "Image event upload interval (minutes)"
field = "num_range"
step = 1
min = 1
max = 60
initial_value = 1

[[configuration]]
key = "video_event_upload_interval_minutes"
label = "Video event upload interval (minutes)"
field = "num_range"
step = 1
min = 1
max = 60
initial_value = 5
